button, .button {
	background-color: inherit;

	border: 1px solid lightgray;
	border-radius: 5px;
	box-shadow: 1px 1px 1px gray;

	padding: 0.5em 1.5em;
}

button:hover, .button:hover {
	background-color: buttonface;
}

button:active, .button:active {
	box-shadow: none;
}

button:disabled, .button:disabled {
	display: none;
}

a.button {
	color: inherit;
	text-decoration: none;
	text-align: center;
}

.button-group {
	display: flex;
	justify-content: end;
	align-items: end;
	column-gap: 1rem;
}

/* max-width: 395px to accomodate button with longest text */
@media (max-width: 395px) {
	.button-group {
		flex-direction: column;
		align-items: stretch;
		gap: 1rem;
	}
}

.button-borderless {
	border: none;
	box-shadow: none;
}

.button-tight {
	padding: 0.5em;
}
