.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 2; /* goes on top of navbar */
}

.modal.modal-hidden {
  visibility: hidden;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: black;
  opacity: 0.2;

  z-index: 2; /* this should go on top of navbar */

  transition: opacity 0.5s;
}

.modal-hidden .modal-background {
  opacity: 0;
}

.modal-dialog {
  z-index: 3; /* this should go on top of modal background */
  opacity: 1;

  padding: 0.5rem;

  border: 1px solid lightgray;
  box-shadow: 1px 1px 1px gray;

  background: white;

  transition: right 0.5s;
  overflow-x: hidden;

  /* Comment out the following to dialog to the center */
  position: fixed;
  top: 5.5rem;
  right: 1rem;
}

.modal-hidden .modal-dialog {
  right: 0;
}
